.name-zoo {
    a {
        font-family: $font-family-logo;
        text-decoration: none;
        font-size: 1.4rem;

        &:hover {
            color: $primary;
            font-size: 1.5rem;
        }
    }
}

.navbar-toggler {
    svg {
        width: 1.9rem;
        height: 1.9rem;
        fill: $light;
    }
}

.logo {
    width: 75px;

    @media (min-width: 768px) {
        width: 100%;
    }
}

.nav-link:hover {
    text-decoration: underline;
}