.navbar-brand {
    font-family: $font-family-headline;
}

.navbar-toggler {
    svg {
        width: 1.9rem;
        height: 1.9rem;
        fill: $primary;
    }
}

.logo {
    width: 75px;

    @media (min-width: 768px) {
        width: 100%;
    }
}