.line-h2 {
    color: $black;
    width: 20%;
    opacity: 1;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 0.9rem;

    @media (min-width:768px) {
        font-size: 1rem;
    }

    @media (min-width:1200px) {
        font-size: 1.2rem;
    }
}

h1 {
    color: $light;
    font-family: $font-family-content;
    font-size: 2rem;

    @media (min-width:768px) {
        font-size: 3rem;
    }
}