// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$light :#FFF7DA;
$primary: #D1EEDB;
$tertiary: #A6C5B1;
$secondary: #76A182;
$dark: #1b4b28;
$black: #462f14;
$white: #ffffff;
$font-family-content: "Hind Madurai", sans-serif !default;
$font-family-headline: "Scada", sans-serif !default;
$font-family-logo: "Sigmar One", sans-serif !default;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "light": $light,
    "dark": $dark,
    "black": $black,
    "white": $white
);

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here