.container-services {
    svg {
        width: 30%;
        fill: $dark;
    }
}

.img-habitat-home {
    position: relative;

    img {
        transition: all 0.3s ease-in-out;
    }

    .view-habitat {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover {
        img {
            filter: brightness(0.5);
        }

        .view-habitat {
            opacity: 1;
        }
    }
}


.carousel-inner {
    height: 33vh;

    img {
        width: 100%;
        height: calc(100vh - 500px);
        object-fit: cover;
    }
}

.carousel-item {
    position: relative;

    p {
        position: absolute;
        z-index: 1;
        top: 75%;
        left: 45%;
        color: $white;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
}

.carousel-control-prev,
.carousel-control-next {
    color: $white;
    opacity: 1;
}

.container-habitats {
    img {
        border-radius: 10px;

        @media (min-width: 768px) {
            border-radius: 20px;
        }
    }

    h4:hover {
        text-decoration: underline;
    }
}

.link-form-review {
    svg {
        width: 50px;
        fill: $light;

        &:hover {
            fill: $dark;
        }

        @media (min-width:768px) {
            width: 80px;
        }
    }
}

#link-review {
    color: $dark;

    &:hover {
        text-decoration: underline;
        color: $light;
    }

    p {
        &:hover {
            color: $light;
        }
    }
}


.bi-star-fill {
    color: #FFD700;
}