.img-services {
    width: 150px;
}

@media (min-width: 992px) {
    .article-services {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .guided-tour {
        display: flex;
        flex-direction: row-reverse;
    }

    .img-services {
        width: 200px;
    }
}